.list {
  &-row {
    display: flex;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    padding: 16px 0;
    .avatar {
      position: relative;
      img {
        width: 50px;
      }
      .active-status {
        position: absolute;
        left: 16px;
        top: 16px;
      }
    }
    .details {
      padding-left: 16px;
      .highlight {
        padding: 0;
        background-color: #ffff00;
      }
    }
  }
  .ph-item {
    padding: 16px 0;
    border: none;
    margin-bottom: 0;
    border-bottom: 2px solid #e6e6e6;
  }
  .ph-row {
    flex-direction: row;
    margin-bottom: 0;
    & div {
      height: 12px;
      margin-top: 10px;
    }
  }
  .ph-item-details {
    background: #ffffff;
    margin-top: 0;
    .ph-name {
      margin-top: 0;
      width: 200px;
    }
    .ph-meta-data {
      width: 150px;
    }
  }
  .ph-item .ph-picture {
    width: 50px;
    height: 50px;
    border-radius: 12px;
    margin-right: 16px;
    margin-top: 0;
  }
}
