.navbar-container {
  margin-top: 16px;
  .nav-tabs {
    border-bottom: 3px solid #dee2e6;
    .nav-item {
      cursor: pointer;
    }
  }
  .nav-tabs .nav-link {
    margin-bottom: -3px;
    border: 3px solid transparent;
    color: #adadad;
    .badge.bg-secondary {
      background-color: #f2f2f2 !important;
      color: #a2a2a2;
    }
  }
  .nav-tabs .nav-item.show .nav-link,
  .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    font-weight: bold;
    border-color: #fff #fff #838383;
  }

  .nav-tabs .nav-link:focus {
    border-color: transparent;
  }
  .settings {
    margin-left: auto;
    .btn,
    .btn:hover,
    .btn:focus {
      background-color: white;
      border-color: white;
      outline: none;
      color: #0d6efd;
      box-shadow: none;
    }
    .dropdown-tab-item {
      display: flex;
      justify-content: space-between;
    }
  }
}
