main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: lightgray;
}

.search-container {
  background: white;
  padding: 36px;
  width: 600px;
}


