main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: lightgray;
}

.search-container {
  background: white;
  padding: 24px;
  width: 600px;
  border-radius: 16px;
}


